@font-face{
    font-family: "regular1";
    src: url("/assets/font/Montserrat-Regular.ttf")
}

@font-face{
    font-family: "regular2";
    src: url("/assets/font/Roboto-Regular.ttf");
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

header nav { 
    position: fixed;
    background-color: white;
    width: 100%;
    height: 50px;
    display: flex;
    padding: 0;
    justify-content: space-between;
    padding-top: 10px;
    top: 0;
    z-index: 1;
    
}


nav span{
    padding: 10px;
    margin-left: 20px;
}

.icon5{
    margin-right: 20%;
   
    
}

/* MAIN */

aside{
    position: fixed;
    width: 20%;
    
    
}
aside ul{
    display: flex;
    flex-direction: column;
    margin-top: 100px ;
    
}

a{
    text-decoration: none;
    color: black;
    margin: 10px;
    padding: 0 0;
    
}

#imgMan{
position: relative;
    background: url("../img/jeans.jpg") no-repeat ;
    background-size: cover;
    width: 60%;
    height: 500px;
    margin-top: 50px;
    margin-left: 20%;
    display: flex;
    justify-content: flex-start;
    border: solid green 1px;
    
}

#textImg{
position: absolute;
margin-left: 2rem;
color: white;
}

h1{
    font-size: 40px;
}
h2{
    font-weight: 200;
}

#textImg button {
    display: inline;
    border: none;
    background-color: black;
    color: white;
    padding: 0.6rem ;
    font-size: 1rem;
    margin: auto;

}

#items{
    margin-right: 20%;
    margin-left: 20%;
    
}
.vetem{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    
}

.vetem figure{
    
    width: 25%;
}
.vetem figure img{
    
    width: 100%;
}

.vetem span{
    font-weight: bold;
}